*{margin:0;padding:0;}
body{font-family:'Microsoft Yahei','微软雅黑',Arial,Verdana,sans-serif;}
a{color:inherit;text-decoration:none;}
img{border:none;}
button{outline:none;font-family:'Microsoft Yahei';}
input{outline:none;font-family:'Microsoft Yahei';}
@font-face{font-family:myZh;src:url(../font/zh.TTF);}
@font-face{font-family:myEn;src:url(../font/en.TTF);}
header{display:block;max-width:1200px;width:90%;margin:0 auto 10px;overflow:hidden;padding:0 5%;}
.logo{width:186px;margin:42px 0 24px;float:left;}
.logo img{width:100%;}
.search{float:right;overflow:hidden;border:solid 1px #008e92;width:306px;height:34px;border-radius:8px;behavior:url(js/PIE.htc);margin-top:60px;behavior:url(js/PIE.htc);}
.search img{float:left;margin:4px 4px 0 8px;width:24px;}
.search input{font-size:14px;float:left;border:none;outline:none;height:34px;line-height:34px;width:198px;}
.search button{float:right;border:none;background:#008e92;color:white;cursor:pointer;height:34px;width:70px;font-size:16px;}
.search button:hover{text-decoration:underline;}
nav{overflow:hidden;text-align:center;}
.nav{display:inline-block;text-align:center;padding:0 2%;}
.nav-img{display:inline-block;width:57px;height:30px;}
.nav-img img{display:none;width:100%;}
.nav-text{margin-top:24px;font-size:16px;}
.nav-text>div{font-size:12px;margin-top:4px;color:#aaaaaa;}
.phone-logo{display:none;}
.phone-logo img{height:60px;}
.phone-menu{display:none;cursor:pointer;}
.phone-nav{display:none;position:absolute;top:80px;left:0;color:white;background:#038f93;width:96%;padding:0 2%;line-height:200%;z-index:6000;}
.phone-nav a{display:block;border-bottom:solid 1px rgba(255,255,255,0.4);}
.phone-nav a:last-child{border:none;}
.content{max-width:1200px;width:90%;margin:0 auto;overflow:hidden;padding:0 5%;}
.banners{overflow:hidden;}
.banner{float:left;position:relative;width:77%;}
.banner>img{top:0;left:0;width:100%;}
.banner-right{float:right;width:22.5%;}
.banner-right img{width:100%;}
footer{display:blick;background:#dcdcdc;overflow:hidden;}
.footer{overflow:hidden;background:#dcdcdc;line-height:140%;padding:10px 0 20px;border-bottom:solid 1px #ababab;margin-top:80px;}
.footer-bg{max-width:1200px;width:90%;margin:0 auto;padding:0 5%;}
.footer-fix{float:left;margin-right:10%;}
.footer-tit{font-weight:bold;max-width:1200px;width:100%;margin:10px auto 0;}
.footer-con{display:table;margin-top:10px;}
.footer-left,.footer-right{display:table-cell;}
.footer-left{padding-right:20px;}
.footer-con a{color:#626262;display:block;margin:0 4px;}
.footer-box{max-width:1200px;width:90%;margin:0 auto;padding:14px 1%;overflow:hidden;padding:0 5%;}
.footer-box>img{float:left;width:160px;margin:4px 0 8px;}
.footer-we{float:left;margin-left:36px;color:#626262;}
.footer-we a{display:inline-block;color:#626262;margin-top:10px;}
.footer-we a:hover{text-decoration:underline;}
.footer-we span{display:inline-block;width:32px;text-align:center;}
.footer-we div{margin-top:10px;font-size:14px;}
.footer-softwares{float:right;overflow:hidden;}
.footer-software{float:left;margin:10px 0 0 24px;position:relative;cursor:pointer;}
.footer a:hover{text-decoration:underline;}
.second{height:40px;position:absolute;top:0;left:0;display:none;}
.first img{height:40px;}
.top{display:none;width:5%;position:fixed;bottom:10%;right:3%;cursor:pointer;}
.top>img{width:100%;}
@media screen and (max-width:1120px){
	.specialist-head{height:200px;}
	.specialist-info{height:200px;}
	.logo{display:none;}
	.nav{padding:0 3%;}
}
@media screen and (max-width:1000px){
	.nav{padding:0 2%;}
	.footer-box img,.footer-softwares{display:none;}
	.footer-we{float:none;text-align:center;margin:0;}
	.top{width:6%;}
	.specialist-head{height:180px;}
	.specialist-info{height:180px;}
	.specialist-info>.name{margin-top:14px;}
}
@media screen and (max-width:920px){
	nav{display:none;}
	.phone-logo{display:block;float:left;margin:10px 0;height:60px;}
	.phone-menu{display:block;float:right;margin:14px 10px;height:60px;}
	.search{float:none;margin:20px auto 0;}
	.footer-we{float:none;text-align:center;}
	.footer-we span{display:none;}
	.top{width:7%;}
	.specialist-con{width:50%;}
}
@media screen and (max-width:768px){
	.action{width:97%;float:none;}
	.specialist-zh{font-size:32px;margin-top:30px;}
	.specialist-en{font-size:16px;}
}
@media screen and (max-width:640px){
	.specialist-zh{font-size:19.2px;}
	.specialist-en{font-size:14.4px;}
	.specialist-con{width:100%;}
}
/*---------------------------名医专家---------------------------*/
.medical-tits{border-bottom:solid 1px #008e92;overflow:hidden;margin-bottom:20px;}
.medical-tit{overflow:hidden;border-bottom:solid 5px #008e92;display:inline-block;float:left;}
.medical-tit>img{height:30px;float:left;}
.medical-tit>span{font-size:25.6px;float:left;color:#008e92;margin-left:10px;line-height:28px;padding-bottom:6px;}
.medical-con{border:solid 1px #dcdadb;overflow:hidden;padding:20px 0 16px;}
.medical-con div{height:70.4px;overflow:hidden;}
.medical-con a{display:block;float:left;margin:8px 20px;}
.medical-con a:hover{text-decoration:underline;}
.arrows1{color:#008e92;font-style:italic;padding:3.2px 12.8px;font-size:16px;line-height:140%;cursor:pointer;float:right;}
.arrows1:hover{text-decoration:underline;}
.arrows1 img{width:20px;margin-right:2px;}
.arrow{transform:rotate(180deg);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);}
/*专家专享搜索框*/
.medical-search{margin:40px 0 20px;overflow:hidden;}
.medical-input{float:left;overflow:hidden;border:solid 1px #f4a759;width:38%;display:inline-block;border-radius:10px 0 0 10px;behavior:url(js/PIE.htc);padding:8px 16px;margin-left:25%;}
.medical-input img{width:32px;float:left;}
.medical-input div{margin-left:32px;}
.medical-input input{width:100%;border:none;outline:none;height:36px;line-heihgt:36px;margin-left:6px;font-size:19.2px;}
.medical-search button{width:10%;height:54px;background:#f4a759;border:solid 1px #f4a759;border-radius:0 10px 10px 0;behavior:url(js/PIE.htc);font-size:19.2px;color:white;cursor:pointer;outline:none;}
.medical-search button:hover{background:rgba(244,167,89,0.9);}
.medical-search span{margin:0 4%;}
/*您的选择*/
.medical-select{overflow:hidden;display:none;}
.medical-select>.name{color:#f39a4e;float:left;margin:3.2px 0;}
.medical-select span{display:inline-block;margin:3.2px 9.6px;cursor:pointer;background:#f3f3f3;padding-left:9.6px;border:solid 1px #dddddd;overflow:hidden;height:25.6px;line-height:25.6px;}
.medical-select span:hover{background:white;border-color:#008e92;color:#008e92;}
.medical-select img{width:12.8px;margin-left:9.6px;padding:6.4px;float:right;}
.medical-select em{font-style:normal;}
/*选择科室*/
.medical-box{padding:20px;border:solid 1px #e6e3e4;line-height:160%;margin-bottom:40px;}
.medical-sections{overflow:hidden;margin-top:10px;}
.medical-sections .name{color:#008e92;float:left;}
.medical-section{}
.medical-section .section{height:76.8px;overflow:hidden;}
.medical-section span{display:inline-block;margin:0 9.6px;cursor:pointer;}
.medical-section span:hover{color:#f39a4e;}
.medical-section .arrows2{color:#008e92;float:right;cursor:pointer;font-style:italic;}
.medical-section .arrows2:hover{text-decoration:underline;}
.medical-section .arrows2 img{width:20px;margin-right:2px;}
/*医生职称*/
.medical-title{padding:30px 0;margin:20px 0 30px;border-top:solid 1px #e6e3e4;border-bottom:solid 1px #e6e3e4;}
.medical-title .name{color:#008e92;float:left;}
.medical-title .section{overflow:hidden;}
.medical-title .section span{display:inline-block;margin:0 9.6px;cursor:pointer;}
.medical-title .section span:hover{color:#f39a4e;}
/*北京名校*/
.medical-hospitals{overflow:hidden;line-height:160%;}
.medical-hospitals>.name{color:#008e92;float:left;}
.medical-hospital{}
.medical-hospital .section{overflow:hidden;height:76.8px;}
.medical-hospital span{display:inline-block;margin:0 9.6px;cursor:pointer;}
.medical-hospital span:hover{color:#f39a4e;}
.medical-hospital .arrows3{color:#008e92;float:right;cursor:pointer;font-style:italic;}
.medical-hospital .arrows3:hover{text-decoration:underline;}
.medical-hospital .arrows3 img{width:20px;margin-right:2px;}
.medical-doctors{border:solid 1px #dfdcdd;padding:0 14px;}
.medical-doctor{border-top:solid 1px #d0d0d0;overflow:hidden;padding:20px 0;}
.medical-doctor:first-child{border:none;}
.medical-doctor .img{width:168px;height:200px;overflow:hidden;float:left;margin-right:20px;}
.medical-doctor img{float:left;width:100%;height:100%;}
.medical-button{width:12%;height:36px;cursor:pointer;line-height:36px;float:right;margin:82px 3% 0 4%;background:#f09450 url(../images/medical-bg.png);background-size:cover;border:none;border-radius:10px;behavior:url(js/PIE.htc);color:white;font-size:16px;}
.medical-button:hover{text-decoration:underline;}
.infos{overflow:hidden;}
.info-name{font-size:22.4px;}
.info-name a{display:inline-block;color:#008e92;margin-right:28.8px;}
.info-name em{font-style:normal;margin-right:28.8px;}
.info-name span{display:inline-block;font-style:normal;color:white;font-size:16px;background:#008e92;padding:0 9.6px 1.6px;border-radius:6.4px;behavior:url(js/PIE.htc);margin-right:10px;}
.info-tit{display:inline-block;font-size:16px;color:white;background:#008e92;border-radius:16px;behavior:url(js/PIE.htc);padding:1.6px 16px;margin:8px 0 4px 10px;}
.info-con{text-align:justify;font-size:14px;margin-left:10px;text-indent:28px;line-height:160%;overflow:hidden;height:41.6px;}
.infos .more{color:#008e92;float:right;}
.infos a:hover{text-decoration:underline;}
/*分页*/
.page-box{overflow:hidden;text-align:center;margin:30px 0 50px;}
.page-top{display:inline-block;padding:0 1.4%;line-height:240%;box-shadow:0 0 0 1px #d7d7d7 inset;border:none;background:white;font-size:16px;border-radius:2px;behavior:url(js/PIE.htc);outline:none;cursor:pointer;}
.page-top:hover{text-decoration:underline;}
.page-look{display:inline-block;padding:0 1.4%;line-height:240%;text-align:center;}
.page-bottom{display:inline-block;padding:0 1.4%;line-height:240%;box-shadow:0 0 0 1px #d7d7d7 inset;border:none;background:white;font-size:16px;border-radius:2px;behavior:url(js/PIE.htc);outline:none;cursor:pointer;}
.page-bottom:hover{text-decoration:underline;}
.page-input{display:inline-block;margin:0 1.4%;}
.page-input input{width:64px;line-height:240%;border:solid 1px #d7d7d7;font-size:16px;border-radius:2px;behavior:url(js/PIE.htc);outline:none;text-align:center;margin:0 4px;}
.page-ok{display:inline-block;padding:0 1.4%;line-height:220%;box-shadow:0 0 0 1px #d7d7d7 inset;border:none;background:white;font-size:16px;border-radius:2px;behavior:url(js/PIE.htc);outline:none;cursor:pointer;}
.page-ok:hover{text-decoration:underline;}
.medical-right{float:right;margin-left:10px;}
.right-tit{font-size:22.4px;line-height:32px;color:#008e92;margin-bottom:12px;}
.right-tit span{display:block;width:12px;height:32px;background:#008e92;float:left;margin-right:15px;}
.right-con{display:block;overflow:hidden;width:252px;height:344px;margin:7px 0;position:relative;}
.right-explain{position:absolute;bottom:0;width:100%;background:rgba(0,142,146,0.23);height:40px;line-height:40px;text-align:center;color:white;}
.right-explain:hover{text-decoration:underline;}
.right-con img{width:100%;height:100%;float:left;}
@media screen and (max-width:768px){
	.medical-doctor .img{float:none;margin-bottom:20px;}
	.medical-button{width:120px;}
}
@media screen and (max-width:640px){
	.medical-search{width:304px;margin:30px auto 16px;}
	.medical-input{width:200px;margin:0;}
	.medical-search button{width:70px;}
	.page-top{font-size:12.8px;}
	.page-look{font-size:12.8px;}
	.page-bottom{font-size:12.8px;}
	.page-input span{font-size:12.8px;}
	.page-input input{font-size:12.8px;width:48px;}
	.page-ok{font-size:12.8px;}
	.medical-button{margin:0 0 10px;float:none;width:120px;}
	.info-name{font-size:20px;}
	.info-name a{display:block;margin-bottom:4px;}
}
.map{display:none;background:rgba(0,0,0,0.6);position:fixed;top:0;left:0;width:100%;height:100%;z-index:100;cursor:pointer;}
.map-close{width:501px;position:fixed;top:50%;left:50%;margin:-253px 0 0 -250.5px;z-index:101;position:relative;}
.map-close img{position:absolute;width:20px;top:5px;right:5px;}
.map iframe{width:501px;height:506px;}
/*--------------------------------服务中心--------------------------------*/
.service-banner{position:relative;width:100%;margin-bottom:20px;}
.service-banner>img{top:0;left:0;width:100%;}
.service-banner2,.service-banner3{display:none;}
.service-little{position:absolute;z-index:1;overflow:hidden;width:44%;left:28%;bottom:4%;}
.service-little2,.service-little3{float:left;width:30.5%;background:rgba(0,0,0,0.2);margin:2px 1.4%;box-shadow:0 0 0 1px #9d5e30;}
.service-little1{width:30.5%;float:left;margin:2px 1.4%;box-shadow:0 0 0 1px #f19149;}
.service-more{float:right;color:#008e92;margin-top:16px;font-style:italic;}
.service-more:hover{text-decoration:underline;}
.service-mores{overflow:hidden;}
.service-mores>a{color:#038f93;border:solid 1px #038f93;padding:1.6px 16px 3.2px;font-style:italic;border-radius:16px;behavior:url(js/PIE.htc);margin-top:10px;float:none;float:right;}
.service-mores a:hover{text-decoration:underline;}
.service-cons{border:solid 1px #c3c1c1;padding:6.4px 2%;overflow:hidden;}
.service-con{overflow:hidden;border-bottom:dashed 1px #b5b5b5;line-height:240%;}
.service-con:last-child{border:none;}
.service-con>a{color:#434343;overflow:hidden;line-height:240%;}
.service-con>a:hover{color:#008e92;text-decoration:underline;}
.service-con time{color:#707070;float:right;line-height:240%;}
.service-introduce{text-align:center;}
.service-introduce div{width:16%;margin:80px 0 50px;display:inline-block;}
.service-introduce img{width:50%;}
.service-introduce span{display:block;margin-top:20px;}
.service-centers{overflow:hidden;}
.service-center{overflow:hidden;width:46%;float:left;margin:0.5% 0;padding-right:4%;}
.service-center a{color:#008e92;}
.service-center>.name{width:200px;height:130px;float:left;margin-right:10px;overflow:hidden;}
.service-center>.name img{width:100%;}
.service-center>.info{height:130px;}
.service-center>.info div{line-height:140%;}
.service-center>.info>.center{color:#f19149;font-size:19.2px;line-height:160%;overflow:hidden;}
.service-center>.info>.center span{float:right;font-size:16px;color:#6ad9d9;font-weight:normal;line-heigth:120%;cursor:pointer;}
.service-center>.info>.center span:hover{text-decoration:underline;}
.service-center em{display:inline-block;width:32px;}
@media screen and (max-width:960px){
	.service-introduce div{width:20%;}
	.service-center{width:100%;}
}
@media screen and (max-width:768px){
	.service-introduce div{width:24%;margin-top:20px;}
	.service-introduce span{margin-top:2px;}
}
@media screen and (max-width:640px){
	.service-center>.name{float:none;margin:10px;}
	.service-center>.info{margin:0 10px;}
	.service-center>.info>.center span{display:none;}
}
@media screen and (max-width:400px){
	.service-introduce{overflow:hidden;}
	.service-introduce div{float:left;}
}
/*---------------------------名院专家---------------------------*/
.news{overflow:hidden;margin-bottom:20px;}
.news img{width:23.5%;float:left;}
.news-first{margin-left:2%;}
.news-world{width:100%;margin:20px 0 14px;}
.news-tits{margin-top:0;}
/*-----------------------------联系我们-----------------------------*/
.contacts{overflow:hidden;margin:60px 0;}
.contact{color:#038f93;width:40%;float:left;}
.contact-tit{}
.contact-top{border-bottom:solid 1px #038f93;}
.contact-top span{display:block;width:106px;height:5px;background:#038f93;}
.contact-zh{font-family:myZh;font-size:32px;margin-top:4px;}
.contact-en{font-family:myEn;font-size:28.8px;border-bottom:solid 1px #038f93;}
.contact-con{margin-top:80px;line-height:160%;}
.contact-con .zz{}
.rem{display:inline-block;width:16px;}
.contact1{width:50%;float:right;margin-top:20px;}
.contact1 img{width:100%;}
.contacts2{font-family:myZh;overflow:hidden;margin:60px 0;}
.contact2{color:#038f93;width:40%;float:right;}
.contact-tit2{overflow:hidden;border-bottom:solid 1px #038f93;}
.contact-top2{border-bottom:solid 1px #038f93;overflow:hidden;}
.contact-top2 span{display:block;float:right;width:106px;height:5px;background:#038f93;}
.contact-lang{overflow:hidden;}
.contact-zh2{font-size:32px;float:right;margin-top:4px;}
.contact-en2{font-family:myEn;font-size:28.8px;float:right;}
.contact-con2{font-family:"Microsoft Yahei";margin-top:60px;line-height:160%;}
.contact3{width:50%;float:left;margin-top:30px;}
.contact3 img{width:90%;margin-left:2%;}
.contact-con3{font-family:"Microsoft Yahei";font-size:12.8px;color:black;margin-top:30px;}
.contact-con3 span{display:inline-block;width:32px;text-align:center;line-height:160%;}
.contact-con4{font-family:"Microsoft Yahei";margin-top:30px;line-height:140%;}
.contact-con4 span{display:inline-block;width:32px;text-align:center;line-height:160%;}
.contact-con4 em{display:inline-block;font-style:normal;width:96px;text-align:center;line-height:160%;}
.last{position:relative;margin-top:80px;}
.last-tit{color:#038f93;width:40%;position:absolute;}
.last-top{border-bottom:solid 1px #038f93;}
.last-top span{display:block;width:106px;height:5px;background:#038f93;}
.last-zh{font-family:myZh;font-size:32px;}
.last-en{font-family:myEn;font-size:28.8px;border-bottom:solid 1px #038f93;}
.last-con{width:100%;}
@media screen and (max-width:800px){
	.contact{width:80%;margin:10px 10%;}
	.contact1{width:80%;margin:10px 10%;}
	.contact-con{margin-top:20px;}
	.contact3{display:none;}
	.contact2{width:80%;margin:10px 10%;}
	.contact-zh2{float:left;}
	.contact-en2{float:left;}
	.contact-con2{margin-top:20px;}
	.last{width:80%;margin:10px 10%;}
}
/*---------------------------加入我们---------------------------*/
/*加入我们*/
.join-box{overflow:hidden;margin:0 auto;}
.join-box>.join-box1{width:34%;float:left;}
.join-box img{float:left;width:100%;}
.join-box>.join-box2{width:66%;float:left;}
.join-box-tit{text-align:center;}
.join-box-tit img{width:30%;margin:0 35%;}
.join-box-con{margin-top:40px;}
.join-box-con p{color:#19a78b;line-height:240%;}
.join-box-con span{background:#19a78b;color:white;display:inline-block;width:19.2px;line-height:19.2px;border-radius:50%;behavior:url(js/PIE.htc);text-align: center;margin-right:20px;}
.join-box-positions{margin:10px auto;overflow:hidden;}
.join-box-position{width:60%;margin-top:40px;}
.join-box-position-tit{border-bottom:solid 1px #19a78b;overflow:hidden;}
.join-box-position-tit span{width:100px;height:4px;background:#19a78b;display:inline-block;float:left;}
.join-box-position-cen{font-family:myZh;color:#19a78b;font-size:28.8px;border-bottom:solid 1px #19a78b;overflow:hidden;margin-top:10px;padding-bottom:10px;}
.join-box-position-cen span{font-family:myEn;display:block;font-size:19.2px;}
.join-box-position-con{color:#19a78b;margin:20px 0;}
.join-box-position-con p{line-height:140%;color:black;}
.join-require{margin:30px auto 50px;color:black;display:none;}
.join-require-tit{font-size:19.2px;line-height:120%;}
.join-require-con{margin-top:14px;}
.join-require-con div{font-size:19.2px;}
.join-require-con p{line-height:200%;}
.join-head1,.join-head2,.join-head3,.join-head4,.join-head5,.join-head6,.join-head7,.join-head8,.join-head9,.join-head10{cursor:pointer;}
.join-head1:hover{color:#009c7c;text-decoration:underline;}
.join-head2:hover{color:#009c7c;text-decoration:underline;}
.join-head3:hover{color:#009c7c;text-decoration:underline;}
.join-head4:hover{color:#009c7c;text-decoration:underline;}
.join-head5:hover{color:#009c7c;text-decoration:underline;}
.join-head6:hover{color:#009c7c;text-decoration:underline;}
.join-head7:hover{color:#009c7c;text-decoration:underline;}
.join-head8:hover{color:#009c7c;text-decoration:underline;}
.join-head9:hover{color:#009c7c;text-decoration:underline;}
.join-head10:hover{color:#009c7c;text-decoration:underline;}
@media screen and (max-width:640px){
	.join-box>.join-box1{width:100%;}
	.join-box>.join-box2{width:100%;}
	.join-box-con p{line-height:160%;}
	.join-box-con{margin-bottom:20px;}
	.join-box-position{width:100%;margin-bottom:10px;}
	.join-require{margin-bottom:20px;}
}
.join{margin:30px auto 50px;overflow:hidden;}
.join div{width:50%;overflow:hidden;float:left;}
.join img{width:100%;float:left;}
@media screen and (max-width:640px){
	.join div{width:100%;}
}
/*---------------------------联系我们---------------------------*/
.about-img1{margin-top:30px;line-height:160%;}
.about-img2{font-weight:bold;font-size:16px;}
.about-img3{line-height:160%;margin-top:60px;}
.about-img4{margin-top:0;}
/*--------------------------------医生详情页--------------------------------*/
.doctor-right{float:right;margin-bottom:10px;}
.doctor-left{margin-right:262px;}
.doctor-position{color:#008e92;line-height:24px;overflow:hidden;margin-bottom:20px;}
.doctor-position img{float:left;height:24px;margin-right:10px;}
.doctor-position span{color:black;}
.doctor-position a:hover{text-decoration:underline;}
.doctor-info{overflow:hidden;margin-bottom:10px;border:solid 1px #dcdcdc;padding:19.2px 16px;}
.doctor-img{width:140px;float:left;margin-right:5%;}
.doctor-img a{display:block;overflow:hidden;border:solid 2px #87cacc;width:140px;height:140px;border-radius:50%;behavior:url(js/PIE.htc);}
.doctor-img img{width:100%;height:100%;float:left;}
.doctor-data{overflow:hidden;}
.doctor-data .name{font-size:22.4px;}
.doctor-data .name1{font-size:14.4px;color:#008e92;padding:0 9.6px 1.6px;border-radius:6.4px;behavior:url(js/PIE.htc);border:solid 1px #008e92;margin:0 30px 0 20px;}
.doctor-data em{font-style:normal;font-size:14.4px;margin-right:30px;}
.doctor-data em>span{color:#008e92;}
.doctor-data .name2{margin-top:12px;}
.doctor-data .name2 span{color:#1aaa8f;margin:0 14px;}
.doctor-button{display:table;margin:18px auto 0;width:120px;height:36px;cursor:pointer;line-height:36px;background:#f09450 url(../images/medical-bg.png);background-size:cover;border:none;border-radius:10px;behavior:url(js/PIE.htc);color:white;font-size:16px;}
.doctor-button:hover{text-decoration:underline;}
.doctor-good{margin-top:40px;}
.doctor-good div{font-size:19.2px;margin-bottom:6.4px;}
.doctor-good span{display:inline-block;width:38.4px;}
.doctor-good p{text-indent:28.8px;font-size:14.4px;line-height:180%;text-align:justify;}
.doctor-other{overflow:hidden;margin-top:50px;}
.doctor-other-tit{font-size:19.2px;color:#008e92;line-height:24px;margin-bottom:20px;}
.doctor-other-tit span{display:inline-block;width:6px;height:24px;background:#008e92;margin-right:10px;float:left;}
.doctor-other-con{overflow:hidden;border:solid 1px #e4e1e2;padding:14px 0;}
.doctor-other-box{width:25%;color:#636363;line-height:140%;float:left;}
.doctor-first{display:block;margin:0 auto;width:146px;height:146px;border-radius:50%;behavior:url(js/PIE.htc);overflow:hidden;}
.doctor-first:hover{opacity:0.9;}
.doctor-first img{width:100%;height:100%;}
.doctor-second{text-align:center;margin-top:10px;}
.doctor-second span{color:black;}
.doctor-second a{color:#1aaa8f;font-style:normal;}
.doctor-second a:hover{text-decoration:underline;}
@media screen and (max-width:960px){
	.doctor-first{width:120px;height:120px;}
}
@media screen and (max-width:768px){
	.doctor-first{width:100px;height:100px;}
	.doctor-other-con{padding:10px;}
	.doctor-second{font-size:12.8px;}
	.doctor-left{width:98%;margin-left:1%;}
	.doctor-right{display:none;}
}
@media screen and (max-width:640px){
	.doctor-first{width:60px;height:60px;}
	.doctor-img{float:none;margin-bottom:20px;}
	.doctor-position{font-size:12.8px;}
}
/*------------------------------服务中心二级------------------------------*/
.service2{border:solid 1px #d7dada;padding:0 4%;overflow:hidden;margin-top:30px;}
.service2-tit{margin-top:30px;border-bottom:solid 1px #dcdcdc;margin-top:32px;padding-bottom:16px;}
.service2 h1{font-weight:normal;color:#008e92;font-size:25.6px;margin-bottom:6px;}
.service2 time{color:#7d7d7d;margin-right:40px;line-height:140%;}
.service2 span{color:#7d7d7d;margin-right:40px;line-height:140%;}
.service2-p{text-indent:32px;line-height:160%;margin:20px 0;}
.service2-img{overflow:hidden;width:70%;margin:10px 15%;}
.service2-img img{float:left;width:100%;}
.article-tit{line-height:200%;margin-top:10px;}
.article-con{line-height:200%;text-indent:32px;}
.article-name{float:right;margin:60px 0 30px;}
/*------------------------------------建议与投诉------------------------------------*/
.advice-img{width:80%;margin:70px 10% 0;}
.advice-zh{font-family:myZh;text-align:center;color:#19aa8e;font-weight:normal;margin-top:60px;}
.advice-en{font-family:myEn;text-align:center;color:#19aa8e;font-size:25.6px;margin-bottom:70px;}
.advice-phone{width:566px;margin:10px auto;}
.advice-tit{display:inline-block;overflow:hidden;float:left;margin-right:20px;}
.advice-tit img{height:35px;float:left;margin-right:14px;}
.advice-tit div{display:inline-block;color:#19aa8e;line-height:35px;}
.advice-input{overflow:hidden;width:420px;border:solid 1px #9c9d9d;padding:0 1%;}
.advice-input input{border:none;width:100%;height:33px;line-height:33px;font-size:16px;float:left;}
.advice-textarea{width:420px;overflow:hidden;border:solid 1px #9c9d9d;padding:9.6px 1%;}
.advice-textarea textarea{text-align:justify;resize:none;width:100%;float:none;border:none;outline:none;font-size:16px;height:100px;line-height:140%;}
.advice3{margin-top:40px;}
.advice-button{display:block;width:140px;height:43px;background:#1db196 url(../images/advice-bg.png);background-size:cover;border:none;color:white;font-size:19.2px;border-radius:10px;behavior:url(js/PIE.htc);cursor:pointer;margin:50px auto 0;}
.advice-button:hover{text-decoration:underline;}
@media screen and (max-width:640px){
	.advice-img{width:98%;margin:20px 1% 0;}
	.advice-zh{margin-top:20px;}
	.advice-en{margin-bottom:20px;}
	.advice-tit{float:none;}
	.advice3{margin-top:0px;}
}
@media screen and (max-width:460px){
	.advice-input{width:360px;margin-left:5px;padding:0 5px;}
	.advice-textarea{width:360px;margin-left:5px;padding:0 5px;}
}
@media screen and (max-width:400px){
	.advice-input{width:300px;margin-left:5px;padding:0 5px;}
	.advice-textarea{width:300px;margin-left:5px;padding:0 5px;}
}
/*-------------------------------------------404-------------------------------------------*/
.sorry{overflow:hidden;position:fixed;width:504px;height:230px;top:50%;left:50%;margin:-115px 0 0 -252px;}
.sorry img{float:left;margin-right:2%;width:178px;}
.sorry-name{color:#aaaaaa;font-size:25.6px;padding-top:20px;}
.sorry-name span{display:block;font-size:16px;margin-top:9.6px;}
.sorry-name em{font-style:normal;font-size:32px;}
.sorry a{display:inline-block;color:#4ac2c4;padding:3.2px 16px 4.8px;border:solid 1px #4ac2c4;border-radius:6.4px;font-size:12.8px;margin-top:16px;}
.sorry a:hover{text-decoration:underline;}
@media screen and (max-width:640px){
	.sorry{overflow:visible;width:300px;top:0;margin:10px 0 0 -150px;}
	.sorry img{float:none;}
	.sorry-name{font-size:22.4px;}
}
/*-----------------------------------------上传-----------------------------------------*/
.upload{position:fixed;top:4%;right:-138px;z-index:3000;}
.upload-left{float:left;width:31px;height:141px;margin-top:70px;cursor:pointer;}
.upload-left img{width:100%;}
.upload-right{margin-left:12px;margin-right:7px;}
.upload-img1{margin-left:19px;width:131px;overflow:hidden;}
.upload-img1 img{float:left;width:100%;}
.upload-heads{margin-left:19px;width:129px;border-left:solid 1px #cccccc;border-right:solid 1px #cccccc;padding:16px 0 20px;background:white;}
.upload-head{padding:4px 0;border-bottom:solid 1px #e5e5e5;margin:0 10px;cursor:pointer;}
.upload-head img{float:left;margin-right:8px;}
.upload-head div{color:#666666;line-height:33px;}
.upload-head div:hover{color:#008d8e;}
.upload-img2{margin-left:19px;width:129px;border-left:solid 1px #cccccc;padding-bottom:46px;background:white;}
.upload-img2 img{float:right;margin-right:-8px;}
.upload-phone{margin-left:19px;background:#ebeaeb;line-height:200%;color:#008e92;width:129px;border-left:solid 1px #cccccc;border-right:solid 1px #cccccc;text-align:center;border-bottom:solid 1px #cccccc;}
.upload-im3{overflow:hidden;cursor:pointer;margin-left:19px;background:white;}
.upload-im3:hover{opacity:0.9;}
.upload-im3 img{float:left;}
.upload-im4{display:block;overflow:hidden;cursor:pointer;margin-left:19px;}
.upload-im4:hover{opacity:0.9;}
.upload-im4 img{float:left;}
.upload-frames{display:none;position:fixed;background:rgba(0,0,0,0.16);width:100%;height:100%;top:0;left:0;z-index:3000;}
.upload-frame{display:none;width:1000px;position:absolute;background:white;border-radius:10px;behavior:url(js/PIE.htc);z-index:3001;top:100px;left:50%;margin-left:-500px;}
.upload-x{overflow:hidden;}
.upload-x img{float:right;margin:14px;width:32px;cursor:pointer;}
.frame-img1{width:40%;margin:10px 30% 60px;}
.frame-input{width:800px;height:318px;margin:0 auto;position:relative;}
.frame-bg{display:block;width:800px;height:318px;position:absolute;top:0;left:0;z-index:1;}
.frame-input textarea{width:730px;height:220px;bottom:24px;left:26px;resize:none;position:absolute;z-index:2;border:none;outline:none;font-size:16px;line-height:140%;}
.frame-text{text-align:center;color:#6ad9d9;font-size:19.2px;margin:30px 0 20px;}
.frame-add{color:#6ad9d9;overflow:hidden;width:800px;margin:0 auto;}
.frame-add img{float:left;width:28px;margin-right:7px;}
.frame-add div{line-height:28px;}
.frame-add-input{width:800px;margin:10px auto;}
.frame-add-input div{float:left;line-height:30px;margin-right:10px;}
.frame-add-input input{width:200px;height:28px;padding:0 4px;border:solid 1px #9f9d9d;font-size:16px;}
.frame-add-input span{color:#aaaaaa;font-size:12.8px;}
.frame-file{oveflow:hidden;line-height:40px;width:800px;margin:10px auto;}
.frame-file div{float:left;margin-right:20px;}
.frame-file img{width:40px;float:left;cursor:pointer;}
.frame-file span{font-size:12.8px;color:#26a7eb;cursor:pointer;}
.frame-file span:hover{text-decoration:underline;}
.upload-you{width:800px;margin:0 auto;}
.upload-you-tit{font-size:19.2px;color:#6ad9d9;line-height:24px;margin-top:60px;}
.upload-you-tit span{display:inline-block;width:6px;height:24px;background:#6ad9d9;float:left;margin-right:10px;}
.upload-you-con{width:310px;margin:0 auto;}
.upload-over-button{overflow:hidden;margin-top:60px;}
.upload-submit{outline:none;cursor:pointer;float:left;width:120px;height:36px;border-radius:8px;behavior:url(js/PIE.htc);border:none;background:url(../images/medical-bg.png);font-size:19.2px;color:white;}
.upload-reset{outline:none;cursor:pointer;float:right;width:120px;height:36px;border-radius:8px;behavior:url(js/PIE.htc);border:none;font-size:19.2px;color:#f19149;background:white;border:solid 1px #f19149;}
.upload-submit:hover{text-decoration:underline;}
.upload-reset:hover{text-decoration:underline;}
.upload-name{margin:8px 0;}
.upload-name input{width:214px;height:43px;border:solid 1px #6ad9d9;border-radius:8px;behavior:url(js/PIE.htc);font-size:16px;outline:none;margin-left:4px;padding:0 10px;}
.upload-name span{margin-left:32px;}
.upload-name select{width:234px;height:43px;border:solid 1px #6ad9d9;border-radius:8px;behavior:url(js/PIE.htc);font-size:16px;outline:none;background:white;padding:0 10px;appearance:none;-webkit-appearance:none;-mos-appearance:none;-mz-appearance:none;-o-appearance:none;}
.upload-feedback{border:solid 1px #dddcdc;background:#f6f6f6;line-height:160%;max-height:400px;overflow:auto;margin:20px 0 50px;}
.upload-feedback-con{margin:24px 30px;}
.upload-infos{display:none;position:fixed;width:100%;height:100%;top:0;left:0;z-index:4000;}
.upload-info{max-width:660px;width:98%;border:solid 1px #d4d4d4;border-radius:3px;behavior:url(js/PIE.htc);margin:100px auto;box-shadow:0 4px 15px -5px #c3c2c2;}
.upload-info-name{padding-left:20px;height:40px;line-height:40px;background:#f6f5f5;border-bottom:solid 1px #d4d4d4;;}
.upload-info-name img{float:right;width:24px;margin:8px;}
.upload-info-name img:hover{cursor:pointer;}
.upload-info-con{background:white;padding:0 24px 40px;}
.upload-alert{font-size:14.4px;padding-top:20px;}
.upload-file{display:block;margin-top:20px;}
.upload-button{display:block;outline:none;cursor:pointer;width:120px;height:36px;line-height:32px;border-radius:8px;behavior:url(js/PIE.htc);border:none;background:url(../images/medical-bg.png);font-size:19.2px;color:white;margin:50px auto 30px;}
.upload-button:hover{text-decoration:underline;}
.upload-alert2{color:#e60012;font-size:14.4px;padding:12px 0;border-top:solid 1px #cacaca;border-bottom:solid 1px #cacaca;margin-bottom:10px;}
.upload-alert3{color:#959595;font-size:12.8px;line-height:200%;}
@media screen and (max-width:1000px){
	.upload-frame{width:800px;margin-left:-400px;}
	.frame-img1{width:50%;margin-left:25%;}
	.frame-input{width:768px;}
	.frame-bg{width:768px;}
	.frame-input textarea{width:700px;}
	.frame-add{width:768px;}
	.frame-add-input{width:768px;}
	.frame-file{width:768px;}
	.upload-you{width:768px;}
}
@media screen and (max-width:800px){
	.upload-frame{width:640px;margin-left:-320px;}
	.frame-img1{display:none;}
	.frame-input{width:620px;height:250px;}
	.frame-bg{width:620px;height:246px;}
	.frame-input textarea{width:560px;height:160px;}
	.frame-add{width:600px;}
	.frame-add-input{width:600px;}
	.frame-file{width:600px;}
	.upload-you{width:600px;}
}
@media screen and (max-width:640px){
	.upload{top:60px;}
	.upload-im3{height:40px;}
	.upload-im3 img{margin-top:-30px;}
	.upload-frame{width:400px;margin-left:-200px;}
	.frame-input{width:390px;height:160px;}
	.frame-bg{width:390px;height:155px;}
	.frame-input textarea{width:350px;height:100px;left:16px;bottom:20px;}
	.frame-add{width:380px;}
	.frame-add-input{width:380px;}
	.frame-file{width:380px;}
	.upload-you{width:380px;}
	.upload-info{margin-top:0;}
}
@media screen and (max-width:400px){
	.upload-frame{width:320px;margin-left:-160px;}
	.frame-input{width:320px;height:130px;}
	.frame-bg{width:320px;height:127px;}
	.frame-input textarea{width:290px;height:84px;left:12px;bottom:14px;}
	.frame-add{width:318px;}
	.frame-add-input{width:318px;}
	.frame-file{width:318px;}
	.upload-you{width:318px;}
}
/*二级页面*/
.second-level{margin-top:30px;}
/*--------------官网首页--------------*/
.global-new{overflow:hidden;margin:25.6px 0;}
.global{width:30%;float:left;}
.global-tit{overflow:hidden;}
.global-icon{font-size:19.2px;overflow:hidden;line-height:29px;float:left;}
.global-icon span{display:block;width:12px;height:29px;background:#008e92;float:left;margin-right:12.8px;}
.global-icon em{font-style:normal;font-size:16px;}
.global-little{color:#aaaaaa;overflow:hidden;float:right;margin-top:4.8px;}
.global-little div{border:solid 1px #aaaaaa;float:left;width:16px;height:16px;text-align:center;line-height:16px;margin:0 2px;cursor:pointer;}
.global-little .little1{border-color:#f8b551;color:#f8b551;}
.global-con{overflow:hidden;height:216px;margin-top:16px;border:solid 1px #008e92;padding:10px 10px 12px;background:white;border-radius:10px;}
.global-con div{background:black;border-radius:4px;overflow:hidden;}
.global-con video{width:100%;height:218px;color:red;float:left;}
.global-con embed{width:100%;height:218px;}
.global-con .video2,.video3{display:none;}
.new{width:64%;float:right;}
.new-con{overflow:hidden;color:#707070;margin-top:16px;}
.new-img{overflow:hidden;width:168px;height:238px;float:left;margin-right:16px;border:solid 1px #ccc;}
.new-img img{width:100%;height:100%;float:left;}
.new-texts{overflow:hidden;}
.new-text{display:block;overflow:hidden;margin-bottom:10px;}
.new-text div{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.new-text:hover{color:#008e92;}
.new-text time{float:right;margin-left:20px;}
.new-lable{font-size:14.4px;padding-bottom:16px;overflow:hidden;}
.new-lable a{display:block;float:left;margin:3.2px 9.6px;padding:4.8px 16px;border:solid 1px #008e92;border-radius:19.2px;behavior:url(js/PIE.htc);}
.new-lable a:hover{color:#008e92;}
.team{overflow:hidden;margin-top:9.6px;}
.team-cons{overflow:hidden;}
.team-left{float:left;height:64px;margin:84.8px 2px 0 0;}
.team-left img{height:100%;float:left;}
.team-right{float:right;height:64px;margin:84.8px 0 0 2px;}
.team-right img{height:100%;float:left;}
.team-boxs{overflow:hidden;margin-left:-2%;}
.team-box{margin-top:16px;width:18%;border:solid 1px #cecccc;float:left;padding:19.2px 12.8px;height:233.6px;box-sizing:border-box;margin-left:2%;}
.team-img{display:block;overflow:hidden;width:96px;height:96px;border-radius:50%;border:solid 1px #109599;margin:0 auto;}
.team-img img{width:100%;height:100%;float:left;}
.team-img:hover{opacity:0.9;}
.team-name{display:block;text-align:center;margin-top:16px;}
.team-name:hover{color:#008e92;}
.team-name span{color:#008e92;}
.team-title{text-align:center;margin-top:6.4px;}
.team-title div{border:solid 1px #109599;color:#109599;text-align:center;display:inline-block;font-size:12.8px;padding:1.6px 9.6px;border-radius:16px;behavior:url(js/PIE.htc);}
.team-doctor{font-size:12.8px;color:#898989;text-align:center;margin-top:9.6px;}
.team-more{font-size:12.8px;}
.process-con{overflow:hidden;margin:32px 0 48px;}
.process-con img{float:left;width:100%;}
.exclusive-cons{color:#535353;margin-left:-2.5%;}
.exclusive-con{width:22.5%;margin:16px 0 16px 2.5%;float:left;}
.exclusive-con img{width:100%;}
@media screen and (max-width:960px){
	.global{width:100%;float:none;}
	.new{width:100%;float:none;margin-top:16px;}
}
@media screen and (max-width:820px){
	.team-box{width:23%;}
}
@media screen and (max-width:768px){
	.team-box{width:31%;}
	.new-img{display:none;}
	.exclusive-con{width:47.5%;}
}
@media screen and (max-width:640px){
	.team-box{width:48%;}
}
/*微博和博客*/
.blog-fix{position:fixed;right:0;z-index:99999;top:50%;width:147px;margin-top:70px;}
.blog{position:relative;}
.blog .blog-top{display:block;overflow:hidden;}
.blog .blog-top img{width:100%;float:left;}
.blog .blog-bottom{display:block;overflow:hidden;margin-top:4px;}
.blog .blog-bottom img{width:100%;float:left;}
.blog .blog-close{position:absolute;top:2px;right:6px;width:16px;cursor:pointer;}
.blog-title{display:none;position:fixed;width:40px;right:0;z-index:99999;top:50%;margin-top:70px;overflow:hidden;cursor:pointer;}
.blog-title img{float:left;width:100%;}