@charset "utf-8";
/* CSS Document */
body{font-family:"微软雅黑";margin:0;padding:0;}
a{ text-decoration:none; color:inherit;}
.logo{width:100%;border-bottom:solid 1px #e5e5e5;}
nav{font-size:0.8em;width:100%;position:relative;color:#7f7f7f;filter:alpha(opacity=95);-moz-opacity:0.95;opacity:0.95;background-color:white;height:3em;line-height:3em;border-bottom:solid 2px #e5e5e5;}
.nav_01{width:33%;float:left;text-align:center; display:block;}
.nav_02{width:34%;float:left;text-align:center; display:block;}
.nav_03{width:33%;float:left;text-align:center; display: block;}
.nav a{color:#7f7f7f;}
a.selected {color:#d51010;border-bottom:solid 2px #d51010;}
.sticky {position: fixed;}
.banner{width:100%;}
.banner_01{width:100%;margin-bottom:2%;padding:10% 0 0;}
.content_01{width:95%;margin:3.5% 2.5%;background-color:#efefef;overflow:hidden;}
.content_01 img{width:44%; float:left;}
.content_02{ float:left;width:51%;margin:2% 2.5% 0;}
.content_03{font-size:13px;color:#292828;font-weight:bold; overflow:hidden;border-bottom:dashed 1px #ababab;padding-bottom:0.5em;}
.content_03 .ziti_01{font-size:0.7em;font-family:Arial, Helvetica, sans-serif;color:#d51010; float:right;margin-top:0.45em;}
.content_03 .ziti_02{font-size:0.6em;color:#585858; float:right;margin-top:0.6em;}
.content_04{color:#898989;font-size:10px;margin-top:0.8em}
.content_05{width:100%;margin-top:4%;}
.content_06{width:100%;padding:10% 0 0;}
.content_07{width:100%;padding:10% 0 4%;}
.content_08{font-size:13px;width:88%;margin:0 6%;color:#292626;}
.content_09{width:100%;margin:6% 6%;}
.content_09 img{float:left;width:28%;}
.content_10{margin-left:2%;}
.content_11{width:100%;margin:7% 0 3%;}
.content_12{width:100%;}
.content_13{color:#7a7a7a;font-size:8px;text-align:center;margin:2em 0;font-family:Arial, Helvetica, sans-serif,"微软雅黑";}
.content_14{margin-bottom:10%;}